@using Blueteam.GreenScreen

@page "/"

<PageTitle>GreenScreen</PageTitle>

<h1>GreenScreen</h1>

<p>This component allows your monitor to consume less power when your computer is idle or when you walk away. </p>

<GreenScreen Timeout="new TimeOnly(0,0,15)"/>
