<div id="greenscreen" class="overlay"
     aria-labelledby="Energy Saving Overlay"
     aria-modal="true">
    <div class="overlay-content">
        <img alt="Logo" class="logo-greenscreen" src="@LogoPath">
        <div class="headline-greenscreen">@TextHeader</div>
        <div class="text-greenscreen">
            <p dir="ltr">@TextExplanation</p>
	        <p dir="ltr">@TextToResume</p>
        </div>
    </div>
</div>
